{# head=
    <link href="{% url /css/auth.min.css?version %}" rel="stylesheet" type="text/css">
    <script src="{% url /js/auth.min.js?version %}" defer></script>
    <script src="{% url /js/unauth.min.js?version %}" defer></script>
#}
{# body=

    <h1 id="activation-title"></h1>

    <br/><br/>
    <a id="activation-login" href="{% url /auth/login %}"></a>

#}
{% include layout_unauth %}
