{# head=
    <link href="{% url /css/auth.min.css?version %}" rel="stylesheet" type="text/css">
    <script src="{% url /js/auth.min.js?version %}" defer></script>
#}
{# body=
    <div hidden>
        <form action="{% url /auth/guest-login %}" method="POST" id="guest-login-form">
            <input id="gid" type="text" name="gid" required="required"/>
            <input id="autologincode" type="password" name="autologincode" required="required"/>
            <input type="submit" value="submit"/>
        </form>
    </div>

    <div class="loginpage" id="loginpage-login">
        <form action="{% url /auth/login %}" method="POST" id="login-form">
            <div class="messages" id="auth-error">{% =messages.auth %}</div>
            <div class="form-group">
              <input id="email" type="text" name="email" value="{% =form.email %}" required="required"/>
              <label for="input" class="control-label" id="control-label-email-address"></label>
            </div>
            <div class="form-group">
              <input id="password-first" type="password" name="password" required="required"/>
              <label for="input" class="control-label" id="control-label-password"></label>
            </div>
            <input id="login-button" type="button" value="Login" class="btn-submit">
            <p id="para-password-forgotten"></p>
        </form>
    </div>

    <div class="loginpage" id="loginpage-restore-password" hidden>
        <p id="back-to-login"></p>
        <form action="{% url /auth/restore-password %}" method="POST" id="restore-password-form">
            <div class="messages" id="restore-message">{% =messages.auth %}</div>
            <div class="form-group">
                <input type="email" id="restore-password-email" name="restore-password-email" required="required"/>
                <label for="input" class="control-label" id="control-label-restore-password"></label>
            </div>
            <input id="restore-password-button" type="button" class="btn-submit" disabled>
        </form>
    </div>
#}
{% include layout_unauth %}
