{# head=
    <link href="{% url /css/auth.min.css?version %}" rel="stylesheet" type="text/css">
    <script src="{% url /js/auth.min.js?version %}" defer></script>
#}
{# body=

    <form action="{% url /auth/register %}" method="POST" id="regform">

        <div class="error">{% =messages.sended %}</div>
        <div class="form-group">
            <div class="error">{% =messages.name %}</div>
            <input type="text" name="name" id="name" value="{% =form.name %}" required="required"/>
            <label for="input" class="control-label" id="control-label-register-name"></label>
        </div>

        <div class="form-group">
            <div class="error" id="email-error">{% =messages.email %}</div>
            <input type="text" name="email" id="email" value="{% =form.email %}" required="required"/>
            <label for="input" class="control-label" id="control-label-email-address"></label>
        </div>

        <div class="form-group">
            <div class="error" id="password-error">{% =messages.password %}</div>
            <input type="password" name="password-first" id="password-first" required="required"/>
            <label for="input" class="control-label" id="control-label-register-password-first"></label>
        </div>
        <div class="form-group">
            <input type="password" name="password-second" id="password-second" required="required"/>
            <label for="input" class="control-label" id="control-label-register-password-second"></label>
        </div>
        <input id="button-signup" type="button" class="btn-submit" value="Register">
    </form>

#}
{% include layout_unauth %}
