{# head=
    <link href="{% url /css/auth.min.css?version %}" rel="stylesheet" type="text/css">
    <script src="{% url /js/auth.min.js?version %}" defer></script>
#}
{# body=
    <div class="loginpage" id="loginpage-apply-new-password">
        <form action="{% url /auth/apply-new-password %}" method="POST" id="apply-new-password-form">
            <input id="validation-code" type="hidden" name="validation-code"/>
            <div class="messages" id="apply-new-password-error">{% =messages.auth %}</div>
            <div class="form-group">
              <input type="password" name="apply-new-password-first" id="apply-new-password-first" value="" required="required"/>
              <label for="input" class="control-label" id="control-label-apply-new-password-first"></label>
            </div>
            <div class="form-group">
              <input type="password" name="apply-new-password-second" id="apply-new-password-second" value="" required="required"/>
              <label for="input" class="control-label" id="control-label-apply-new-password-second"></label>
            </div>
            <input id="apply-new-password-button" type="button" class="btn-submit" disabled>
        </form>
    </div>
#}
{% include layout_unauth %}
