{# html.navbar=
    <a id="menu-login" class="menu-item" href="{% url /auth/login %}"></a>
    <a id="menu-signup" class="menu-item" href="{% url /auth/register %}"></a>
    <div id="toggle-menu-overlay"></div>
    <script src="{% url /js/unauth.min.js %}"></script>
#}
{# body=
<h3>
{% =message %}
</h3>
#}
{% include layout_unauth %}
