label, input {
    display: block;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 3px;

}

input[type="submit"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    margin-top: 10px;
}

input[type="checkbox"], input[type="checkbox"] + label {
    display: inline;
}

.messages, .error {
    color: red;
}

#back-to-login,
#para-password-forgotten {
    color: green;
	cursor: pointer;
	display: inline-flex;
    font-size: small;
}

.btn-submit {
    background-color: #4caf50;
    border: 1px solid #448046;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    line-height: 2.3;
    width: 100%;
}

.btn-submit:hover {
    background-color: #448046;
}
