#split-error,
#amount-input-field-error {
    color: red;
    display: none;
}

.b-contain *, .b-contain *::before, .b-contain *::after {
    box-sizing: content-box !important;
}

.b-contain input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.b-contain span {
    font-family: inherit;
    font-size: 1rem;
}

.b-contain {
    cursor: pointer;
    display: table;
    padding-left: 1.8rem;
    position: relative;
}

.b-contain input[type="checkbox"] ~ .b-input {
    background: rgba(241, 245, 248, 1);
    border: 1px solid rgba(184, 194, 204, 1);
    border-radius: 0.125rem;
    height: 1.25rem;
    left: 0;
    position: absolute;
    top: 0;
    transition: background 250ms;
    width: 1.25rem;
}

.b-contain input[type="radio"] ~ .b-input {
    background: rgba(241, 245, 248, 1);
    border: 1px solid rgba(184, 194, 204, 1);
    border-radius: 2.0rem;
    height: 1.25rem;
    left: 0;
    position: absolute;
    top: 0;
    transition: background 250ms;
    width: 1.25rem;
}

.b-contain input[type="checkbox"] ~ .b-input::after {
    border: solid rgba(255, 255, 255, 1);
    border-width: 0 2px 2px 0;
    content: '';
    display: none;
    height: .6rem;
    left: .45rem;
    position: absolute;
    top: .18rem;
    transform: rotate(45deg);
    transition: background 250ms;
    width: .25rem;
}

.b-contain input[type="radio"] ~ .b-input::after {
    background: rgba(255, 255, 255, 1);
    border-radius: 2.0rem;
    content: '';
    display: none;
    height: .75rem;
    left: .25rem;
    position: absolute;
    top: .25rem;
    transition: background 250ms;
    width: .75rem;
}

.b-contain input:disabled ~ .b-input::after {
    border-color: rgba(135, 149, 161, 1);
}

.b-contain input:checked ~ .b-input::after {
    display: block;
}

.b-contain:hover input ~ .b-input,
.b-contain input:focus ~ .b-input {
    background: rgb(231, 238, 243);
}

.b-contain input:focus ~ .b-input {
    box-shadow: 0 0 0 2px rgba(52,144,220,0.5);
}

.b-contain input:checked ~ .b-input {
    background: rgb(76, 175, 80);
    border-color: rgb(54, 130, 58);
}

.b-contain input[type="checkbox"]:disabled ~ .b-input {
    background: rgba(241, 245, 248, 1);
    border-color: rgba(184, 194, 204, 1);
    cursor: not-allowed;
    opacity: 0.6;
}

.b-contain input[type="radio"]:disabled ~ .b-input {
    background: rgba(241, 245, 248, 1);
    border-color: rgba(184, 194, 204, 1);
    cursor: not-allowed;
    opacity: 0.6;
}

.b-contain input[type="radio"]:disabled ~ .b-input::after {
    background: rgba(135, 149, 161, 1);
}

.b-contain input:checked:focus ~ .b-input, .b-contain:hover input:not([disabled]):checked ~ .b-input {
    background: rgb(35, 170, 41);
    border-color: rgb(27, 66, 29);
}

.b-contain .b-input::before {
    background: rgb(76, 175, 80);
    border-radius: 2rem;
    content: '';
    display: block;
    height: 3rem;
    left: 0;
    margin-left: -0.85rem;
    margin-top: -0.85rem;
    opacity: .6;
    position: absolute;
    top: 0;
    transform: scale(0);
    visibility: hidden;
    width: 3rem;
    z-index: 99999;
}

@keyframes b-ripple {
    0% {
        transform: scale(0);
    }

    20% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes b-ripple-duplicate {
    0% {
        transform: scale(0);
    }

    30% {
        transform: scale(1);
    }

    60% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.b-contain input + .b-input::before {
    animation: b-ripple 250ms ease-out;
}

.b-contain input:checked + .b-input::before {
    animation-name: b-ripple-duplicate;
}

.b-contain input:focus + .b-input::before {
    visibility: visible;
}

.b-contain:first-child .b-input::before {
    visibility: hidden;
}

#paid-by-user-listbox {
    margin-bottom: 2.25rem;
}

#title-who-has-to-pay {
    margin-top: 0;
}


.container {
    cursor: pointer;
    display: block;
    font-size: 22px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left: 35px;
    position: relative;
    text-align: left;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.container input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkmark {
    border: 1px solid darkgray;
    border-radius: 50%;
    height: 25px;
    left: 0;
    margin-bottom: 0;
    margin-top: 0;
	position: absolute;
	top: 0;
	width: 25px;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #4caf50;
}

.checkmark:after {
    content: "";
    display: none;
    position: absolute;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    background: white;
    border-radius: 50%;
    height: 8px;
    left: 9px;
    top: 9px;
    width: 8px;
}

.active-input-field {
    color: #448046;
    font-size: .8rem;
    left: 0;
    top: -1rem;
}
