#div-calculator {
	display: none;
}

.closing-operation {
	background-color: #4caf50;
	border: 1px solid #448046;
	border-radius: 5px !important;
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	font-size: 24px !important;
	font-weight: normal;
	height: unset;
	line-height: 2.3;
	width: 48%;
}

#calculator-cancel {
	background: #dd3535;
	border-color: #a53636;
	color: white;
}

.closing-operation-group {
	display: flex;
	justify-content: space-between;
	margin: 50px 0 150px 0;
}

#result {
	height: 120px;
}

#output {
	border: 1px solid lightgrey;
	text-align: right;
	overflow: hidden;
	word-break: break-all;
	font-size: 30px;
	padding-right: 5px !important;
	height: 70px;
	min-height: 70px;
}

#keyboard {
	margin-left: auto;
	margin-right: auto;
	width: 290px;
	table-layout: fixed;
	user-select: none;
}

#keyboard > tbody > tr > td {
	padding: 0;
	margin: 0;
	vertical-align: bottom;
}

#btn-calculator, .operator {
	background-color: #4caf50;
}

#backspace > svg {
	filter: invert(1);
	margin-left: auto;
	margin-right: auto;
	width: 25px;
}

.operator {
	color: white;
}

.operator, .number, .empty {
	width: 70px;
	height: 70px;
	float: left;
	font-weight: bold;
	font-size: 15px !important;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.operator:hover {
	background-color: #4caf50;
	border-color: #4caf50;
}

.operator > img {
	width: 30px;
	filter: invert(1);
	margin-left: auto;
	margin-right: auto;
}

.number:hover {
	background-color: #eaedef;
	border-color: #eaedef;
}

.empty, .empty:hover {
	background-color: transparent !important;
	border-color: transparent !important;
	cursor: default;
}

.number {
	color: #686868;
}

.number, .empty {
	background-color: #eaedef;
}

.number, .operator {
	cursor: pointer;
}

.operator:active, .number:active {
	font-size: 13px;
}

.operator:focus, .number:focus, .empty:focus {
	outline: 0;
}

.double-width {
    width: 100% !important;
}
