#members-table-div {
    margin: 50px 10px;
}

.member-light,
.member-dark {
    flex-grow: 1;
    padding: 5px;
    text-align: left;
}

.member-light {
    background-color: #e0e0e0;
}

.member-dark {
    background-color: #ccc;
}

.div-member {
    display: flex;
}

.div-member-header {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.div-member-name {
    width: 50%;
}

.div-member-payments {
    text-align: center;
    width: 20%;
}

.div-member-balance {
    width: 30%;
}

.div-member-header-left,
.div-member-header-center,
.div-member-header-right {
    padding: 5px;
}

.balanceGreen,
.balanceRed {
    text-align: right;
}

.div-member-header-left {
    text-align: left;
}

.div-member-header-center {
    text-align: center;
}

.div-member-header-right {
    text-align: right;
}

.member-delete-icon {
    background-image: url("../delete.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
    padding-left: 25px;
}

#leave-group-yes,
#remove-user-yes,
#remove-user-no {
    width: 100%;
    margin: 10px 0;
}

input.red {
    background: #dd3535;
    border-color: #b52626;
    color: white;
}
input.red:hover {
    background: #b52626;
    border-color: #b52626;
    color: white;
}

.settlement-table-line {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.settlement-table-left {
    align-self: center;
    flex-grow: 1;
    text-align: left;
}

.settlement-table-middle {
    align-self: center;
    padding-right: 20px;
}

.groups-buttons-div {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.button-pay {
    background-color: #3496ff;
    border: 1px solid #004d9f;
    font-size: 14px !important;
}
.button-pay:hover {
    background-color: #004d9f;
    border: 1px solid #004d9f;
    font-size: 14px !important;
}

#add-user {
    background-color: lightgray;
    border-radius: 5px;
    border: 1px solid #646464;
    padding: 10px;
    margin-top: 10px;
}

.add-user-frame {
    display: flex;
    justify-content: space-around;
}

.div-add-user-name {
    flex-grow: 2;
    text-align: left;
    padding: 5px 5px 5px 30px !important;
}

.div-add-user-name,
.div-add-user-btn-confirm,
.div-add-user-btn-reject {
    padding: 5px;
    margin-bottom: auto;
    margin-top: auto;
}

.btn-add-user-confirm,
.btn-add-user-reject {
    font-size: 14px !important;
}

.btn-add-user-reject {
    background: #dd3535;
    border-color: #b52626;
    color: white;
}

.btn-add-user-reject:hover {
    background: #b52626;
    border-color: #b52626;
    color: white;
}

#create-new-user {
    margin: 5px 10px;
}

#group-listbox {
    margin-top: 30px;
}

#join-button, #create-button, #create-user-button, #details-button {
    background-color: #f3f3f3;
    border-radius: 0;
    border: none;
    color: #444;
    font-size: 16px !important;
    margin-top: 0 !important;
    text-align: left;
    width: 100%;
}
#join-button:hover, #create-button:hover, #create-user-button:hover, #details-button:hover {
    background-color: #e7e7e7;
}

.groups-menu-items {
    background: url("../arrow_right.svg") no-repeat;
    background-position: right;
    background-size: contain;
    border: none;
    border-radius: 0;
    color: #444;
    font-size: 5vw;
    margin-top: 0 !important;
    text-align: left;
    width: 100%;
}

.groups-menu-items:hover {
    background-color: #e7e7e7;
    border: none;
}

#groups-settings > .groups-menu-items:first-of-type:hover,
#join-or-create-group > .join-or-create:first-of-type:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#groups-settings > .groups-menu-items:hover,
#groups-settings > .group-menu-ind:last-of-type:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#groups-create-group:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (min-width: 500px) {
    .groups-menu-items, select {
        font-size: 20px !important;
    }
}

#groups-join-group:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.groups-open-settings-icon,
.groups-open-settings-open-icon {
    background: url("../arrow_up.svg") no-repeat;
    background-size: contain;
    background-position: right;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 5px;
}
.groups-open-settings-open-icon {
    background: url("../arrow_down.svg") no-repeat;
    background-size: contain;
    background-position: right;
    border-radius: 5px;
}

#groups-settings-div,
#join-or-create-group {
    border: 1px solid  #808080;
    border-radius: 5px;
    margin-bottom: 2rem;
}

#paid-popup-full-paid-div {
    text-align: left;
    margin-bottom: 30px;
}

#paid-popup-instalments-div {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.instalment-input-value {
    flex-grow: 1;
    margin-left: 50px;
}

#instalment-payment, #full-payment {
    margin: 0;
}

#paid-popup-instalments-div > .form-group {
    margin-top: 0;
    margin-bottom: 0;
}

#amount-of-partly-payment:disabled {
    border-color: transparent;
}

#control-label-instalment:disabled {
    color: transparent;
}

#group-code,
#settlement-table-div,
#settings-back-to-main,
#groups-create-bill,
#groups-settlement-table,
#groups-details,
#groups-create-user,
#groups-leave-group {
    display: none;
}

#settings-back-to-main {
	background: url(../arrow_left.svg) no-repeat;
	background-size: contain;
	background-position: left;
	padding-left: 50px;
}

#settings-back-to-main:hover {
	background-color: #e7e7e7;
	border: 0;
}


.div-amount-and-calculator {
    display: flex;
    justify-content: space-between;
}

.div-amount-and-calculator > .form-group {
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
}

#btn-calculator {
	border: 0;
	border-radius: 5px;
    cursor: pointer;
    display: flex;
    height: 3.49em;
    justify-content: center;
    margin-left: 5px;
    width: 50px;
}

#btn-calculator > img {
    filter: invert(1);
    width: 35px;
}

#desc-input-field-datalist {
    text-align: left;
    padding-left: 0.8em;
    color: gray;
    font-size: 20px;
}

.desc-input-field-datalist-class {
    background-color: #e7e7e7;
    padding: 0.8em;
    border-radius: 5px;
}

.desc-input-field-datalist-class > p {
    margin: 0 0 1em 0;
}

.p-suggestion {
    cursor: pointer;
    padding-right: 1.5em;
}

#span-guest-login-url {
    font-family: Monospace;
    font-size: 2em;
}

#svg-copy-guest-login-url {
    margin-left: 1em;
}

#svg-copy-guest-login-url:hover {
    cursor: pointer;
    fill: #0000FF;
}

#menu-group-join-group-content {
    margin-top: 2em;
}
