.delete-icon {
    cursor: pointer;
    width: 15px;
}

#delete-payment-yes,
#delete-payment-no {
    width: 100%;
}

#delete-payment-no {
    border-color: #939393;
}

input[type="submit"] {
    -webkit-appearance: none;
}

button, input[type="submit"] {
    background-color: #4caf50;
    border: 1px solid #448046;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #448046;
    border-color: #448046;
}

input.red {
    background: #dd3535;
    border-color: #b52626;
    color: white;
}
input.red:hover {
    background: #b52626;
    border-color: #b52626;
    color: white;
}

.payment-light,
.payment-dark {
    flex-grow: 1;
    padding: 5px;
    text-align: left;
}

.payment-light {
    background-color: #e0e0e0;
}

.payment-dark {
    background-color: #ccc;
}

.payment-frame {
    margin-bottom: 5px;
    padding: 5px;
}

.div-history-title {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.div-history-title-left {
    display: flex;
    flex-grow: 1;
}

.div-history-title-right {
    background-image: url("../delete.svg");
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
    flex-grow: 0;
    float: right;
    width: 20px;
}
