#popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    z-index: 100; /* appear above 100 other fixed elements */
    background: rgba(0,0,0,0.7);
}

.popup {
	display: none;
	background: #fff;
	border-radius: 5px;
	transition: top 0.08s;
	top: 20%;
	padding: 20px;
	margin-top: 10em;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
