#settings-delete-account-button {
    background: #dd3535;
    border-color: #840a0a;
    color: white;
    width: 100%;
}

#settings-delete-account-button:hover {
    background: #840a0a;
    border-color: #840a0a;
    color: white;
}

#settings-delete-account-button:disabled {
    pointer-events: none;
    background-color: lightgrey !important;
    border-color: darkgrey !important;
    cursor: not-allowed;
}

#notification-form,
#details-form,
#password-form,
#delete-account-form {
    margin-top: 10px;
}

#settings-account-message {
    color: red;
}

#settings-menu {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    border: 1px solid #808080;
}

.settings-menu-items {
    width: 100%;
    margin-top: 0px !important;
    border: none;
    color: #444;
    border-radius: 0px;
    font-size: 5vw;
    text-align: left;
    background: url("../arrow_right.svg") no-repeat;
    background-size: contain;
    background-position: right;
}

.settings-menu-items:hover {
    background-color: #e7e7e7;
    border: none;
}

.settings-menu-items:first-of-type:hover,
.settings-menu-items:nth-of-type(2):hover {
    background-color: #e7e7e7;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.settings-menu-items:last-of-type:hover {
    background-color: #e7e7e7;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (min-width: 500px) {
    .settings-menu-items {
        font-size: 20px !important;
    }
}

#settings-back-to-main {
    background: url("../arrow_left.svg") no-repeat;
    background-size: contain;
    background-position: left;
    padding-left: 50px;
    border-radius: 5px;
}

#settings-back-to-main:hover {
    background-color: #e7e7e7;
    border: none;
}

#gitlab-logo {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.build-number {
    color: #ccc;
    padding: 5px 10px 5px 10px;
}
