table.customTable {
  width: 20em;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #888888;
  border-style: solid;
  color: #000000;
  margin-top: 10em;
}

table.customTable tr, table.customTable th {
  border-width: 1px;
  border-color: #888888;
  border-style: solid;
  padding: 5px;
}

table.customTable thead {
  background-color: #888888;
}

.td-right {
    text-align: right;
}
