body {
    background-color: #fafafa;
    font-family: sans-serif;
    margin: 0;
}

h1, h2, h3, h4 {
    text-align: center;
}

*:focus {
   outline: 0 !important;
}

*:-moz-focusring, *::-moz-focus-inner {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.topbar {
    color: white;
    font-family: Roboto, sans-serif;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

.topbar-child {
    background-color: #4caf50;
    border-bottom: 2px solid #36823a;
    display: flex;
    justify-content: space-between;
}

#toggle-button {
    background: #4caf50;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 1;
}

#toggle-menu {
    display: none;
}

#toggle-menu ul{
    list-style: none;
}

#toggle-menu li {
    border-top: 1px solid #1e1e1e;
    text-align: center;
}

/* ****************************************** */

.menu-item:hover {
    background-color: #e7e7e7;
    cursor: pointer;
}

.menu-item {
    color: #444;
    display: block;
    font-size: 22px;
    padding: 5px 10px 5px 10px;
    text-align: left;
    text-decoration: none;
}

.menu-top, .menu-middle, .menu-bottom {
    width: 100%;
}

.menu-left,
.menu-right {
    float: left;
}

.menu-left {
    background-color: white;
    max-width: 50%;
    width: 25em;
}

.menu-panel-title {
    color: #444;
    display: block;
    font-size: 22px;
    text-align: left;
    text-decoration: none;
}

.menu-panel-title-top, .menu-panel-title-bottom {
    font-weight: bold;
    margin-bottom: 0;
    padding: 10px;
    text-decoration: underline;
}

.menu-panel-title-bottom {
    border-top: 1px solid black;
    padding-top: 25px;
}

.menu-right {
    background: rgba(0,0,0,0.6);
    height: 100vh;
    width: 100%;
}

.menu-panel {
    display: flex;
}

#toggle-menu-bars {
    display: inline-block;
    margin: 20px;
    vertical-align: middle;
}

.bar1, .bar2, .bar3 {
    background-color: white;
    height: 6px;
    margin: 6px 0;
    transition: 0.2s;
    width: 30px;
}

.change .bar1 {
    transform: translateY(12px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translateY(-12px) rotate(45deg);
}

#page-title {
    color: white;
    text-decoration: none;
}

select {
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    background: url(../arrow_down.svg) no-repeat;
    background-position: right;
    background-size: contain;
    border: 1px solid #808080;
    border-radius: 5px;
    color: #444;
    cursor: pointer;
    font-size: 5vw;
    line-height: 2.3;
    outline: 0;
    width: 100%;
}

select::-ms-expand {
    display: none;
}
select:focus::-ms-value {
    background-color: transparent;
}

@media screen and (min-width: 500px) {
    button, .percentInputField, input[type="button"], input[type="submit"], select {
        font-size: 24px !important;
    }
    .message-content {
        font-size: 20px !important;
    }
}

button, input[type="button"], input[type="submit"] {
    background-color: #4caf50;
    border: 1px solid #448046;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    line-height: 2.3;
}

input[type="button"]:hover {
    background-color: #939393;
}

button:hover, input[type="submit"]:hover {
    background-color: #448046;
    border: 1px solid #448046;
}

button, .percentInputField, input[type="button"], input[type="submit"] {
    font-size: 18px;
}

input[type="button"] {
    background-color: lightgrey;
    color: black;
}

button[disabled], input[type="submit"][disabled], input[type="button"][disabled] {
    background: lightgrey;
    background-color: lightgray !important;
    border-color: darkgray !important;
    cursor: not-allowed;
    text-shadow: none;
}

.form-setting-btn {
    background-color: #4caf50 !important;
    border-color: #448046 !important;
    color: white !important;
    width: 100%;
}

.form-setting-btn:hover {
    background-color: #448046 !important;
}

#message-area {
    left: 1em;
    position: absolute;
    right: 1em;
    top: 6em;
    z-index: -1;
}

#message-area .message {
    align-self: center;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 10px;
}

#body-content {
    margin: 8em auto 2em auto;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: -2;
}

#body-content-inside {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 0 2em 1em 2em;
}

.message.conf {
    background: #ebf8a4;
    border: 1px solid #a2d246;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.message.error {
    background: pink;
    border: 1px solid maroon;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.message.warn {
    background: orange;
    border: 1px solid darkorange;
}

.message.info {
    background: #9cd09e;
    border: 1px solid #7ca67e;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

button.red {
    background: #dd3535;
    border-color: #b52626;
    color: white;
}
button.red:hover {
    background: #b52626;
    border-color: #b52626;
    color: white;
}

table, th, td {
    border: 0 solid black;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 10px;
}

td {
    text-align: left;
    vertical-align: middle;
}

#bill-form, #login-form {
    text-align: center;
}

input[type="submit"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    box-sizing : border-box;
    margin: 5px auto 20px auto !important;
    width: 100%;
}

input[type='checkbox'] {
    margin: 0 !important;
}

.percentInputField {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0 !important;
    padding: 8px !important;
    text-align: center;
    width: 80px;
}

.amount-input-field::-webkit-inner-spin-button,
.amount-input-field::-webkit-outer-spin-button,
.percentInputField::-webkit-inner-spin-button,
.percentInputField::-webkit-outer-spin-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

.amount-input-field {
    -moz-appearance:textfield;
    -webkit-appearance: textfield;
    box-sizing: border-box;
    width: 100%;
}

.balanceRed,
.balanceGreen {
    text-align: right;
}

.balanceRed {
    color: red;
}

.balanceGreen {
    color: green;
}

.message-content {
    color: black;
    display: flex;
    flex-wrap: wrap;
    font-size: 4vw;
    text-align: left;
}

.dismiss-box {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1em;
}

#loading {
    background-color: #fafafa;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.lds-dual-ring {
    height: 80px;
    margin: auto;
    margin-top: 20vh;
    width: 80px;
}

.lds-dual-ring:after {
    animation: lds-dual-ring 1.2s linear infinite;
    border: 6px solid darkgray;
    border-color: darkgray transparent darkgray transparent;
    border-radius: 50%;
    content: " ";
    display: block;
    height: 64px;
    margin: 8px;
    width: 64px;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#layout-global-title {
    font-size: 2em;
    margin: .7em auto;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 5px #000;
    width: 100%;
}

input {
    -moz-appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

input::after,
input::before {
    box-sizing: border-box;
}

fieldset {
    border: none;
    margin: 0 0 3rem;
    padding: 0;
}

.form-group, .div-amount-and-calculator {
    margin-bottom: 2.25rem;
    margin-top: 2.25rem;
    position: relative;
}

.form-inline > .form-group,
.form-inline > .btn {
    display: inline-block;
    margin-bottom: 0;
}

.form-help {
    color: #b3b3b3;
    font-size: 0.8rem;
    margin-left: 0.125rem;
    margin-top: 0.125rem;
}
.checkbox .form-help, .form-radio .form-help, .form-group .form-help {
    position: absolute;
    width: 100%;
}
.checkbox .form-help {
    margin-bottom: 1rem;
    position: relative;
}
.form-radio .form-help {
    margin-top: -1rem;
    padding-top: 0.25rem;
}

.form-group .control-label {
    color: grey;
    font-size: 22px;
    font-weight: normal;
    left: 1rem;
    padding-left: 0.125rem;
    pointer-events: none;
    position: absolute;
    top: 0.95rem;
    transition: all 0.28s ease;
    -webkit-transition: all 0.28s ease;
    z-index: 1;
}
.form-group .bar {
    border-bottom: 0.0625rem solid #999;
    display: block;
    position: relative;
}
.form-group .bar::before {
    background: #337ab7;
    bottom: -0.0625rem;
    content: '';
    height: 0.125rem;
    left: 50%;
    position: absolute;
    transition: left 0.28s ease, width 0.28s ease;
    -webkit-transition: left 0.28s ease, width 0.28s ease;
    width: 0;
    z-index: 2;
}
.form-group input {
    background: none;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: none;
    color: transparent;
    display: block;
    font-size: 22px;
    line-height: 2.3;
    margin: 0 0 2px 0;
    padding: 0.125rem 1rem 0.0625rem !important;
    transition: all 0.28s ease;
    -webkit-transition: all 0.28s ease;
    width: 100%;
}

.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value {
    color: #333;
}

.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label {
    color: gray;
    font-size: 0.8rem;
    left: 0;
    top: -1rem;
}
.form-group input:focus {
    -moz-box-shadow: inset 0 0 0 1.8px rgb(76, 175, 80);
    -webkit-box-shadow: inset 0 0 0 1.8px rgb(76, 175, 80);
    box-shadow: inset 0 0 0 1.8px rgb(76, 175, 80);
    outline: none;
}
.form-group input:focus ~ .control-label {
    color: #448046;
}
.form-group input:focus ~ .bar::before {
    left: 0;
    width: 100%;
}

.has-error .legend.legend, .has-error.form-group .control-label.control-label {
    color: #d9534f;
}
.has-error.form-group .form-help,
.has-error.form-group .helper, .has-error.checkbox .form-help,
.has-error.checkbox .helper, .has-error.radio .form-help,
.has-error.radio .helper, .has-error.form-radio .form-help,
.has-error.form-radio .helper {
    color: #d9534f;
}
.has-error .bar::before {
    background: #d9534f;
    left: 0;
    width: 100%;
}

.btn-submit {
    background-color: #4caf50 !important;
    border: 1px solid #448046;
    border-radius: 5px;
    color: white !important;
    cursor: pointer;
    line-height: 2.3;
    width: 100%;
}

.btn-submit:hover {
    background-color: #448046 !important;
}

.btn-submit:disabled {
    background-color: lightgrey !important;
    border-color: darkgrey !important;
    cursor: not-allowed;
    pointer-events: none;
}

.txt-warning {
    color: red;
}

.elem-center {
    text-align: center;
}

.elem-fullwidth {
    width: 100%;
}

.elem-margin-left-right-auto {
    margin-left: auto;
    margin-right: auto;
}

.elem-hidden {
    display: none;
}

.elem-show {
    display: block;
}

.elem-show-inline {
    display: inline;
}

.elem-bold-green {
    color: green;
    font-weight: bold;
}

.elem-border-top-none {
    border-top: none
}
