{# head=
    <link href="{% url /css/popup.min.css?version %}" rel="stylesheet" type="text/css">
    <link href="{% url /css/groups.min.css?version %}" rel="stylesheet" type="text/css">
    <link href="{% url /css/radio_buttons.min.css?version %}" rel="stylesheet" type="text/css">
    <link href="{% url /css/bill_setup.min.css?version %}" rel="stylesheet" type="text/css">
    <link href="{% url /css/calculator.min.css?version %}" rel="stylesheet" type="text/css">
    <link href="{% url /css/payment_history.min.css?version %}" rel="stylesheet" type="text/css">
    <link href="{% url /css/auth.min.css?version %}" rel="stylesheet" type="text/css">
    <link href="{% url /css/settings.min.css?version %}" rel="stylesheet" type="text/css">
    <link href="{% url /css/statistics.min.css?version %}" rel="stylesheet" type="text/css">

    <script src="{% url /js/statistics.min.js?version %}" defer></script>
    <script src="{% url /js/payment_history.min.js?version %}" defer></script>
    <script src="{% url /js/settings.min.js?version %}" defer></script>
    <script src="{% url /js/popup.min.js?version %}" defer></script>
    <script src="{% url /js/group.min.js?version %}" defer></script>
    <script src="{% url /js/group_settlement.min.js?version %}" defer></script>
    <script src="{% url /js/group_leave.min.js?version %}" defer></script>
    <script src="{% url /js/group_members.min.js?version %}" defer></script>
    <script src="{% url /js/group_requests.min.js?version %}" defer></script>
    <script src="{% url /js/group_notifications.min.js?version %}" defer></script>
    <script src="{% url /js/bill_setup.min.js?version %}" defer></script>

    <script src="{% url /js/Chart.min.js?version %}" defer></script>
#}

{# body=
    <div id="group">
        <h2 id="groups-header-title"></h2>
        <div id="group-name"></div>

        <div id="groups-settings-div" hidden>
            <button id="groups-open-settings" class="groups-menu-items groups-open-settings-icon"></button>
            <div id="groups-settings">
                <button class="groups-menu-items group-action" id="groups-create-bill"></button>
                <button class="groups-menu-items group-action" id="groups-settlement-table"></button>
                <button class="groups-menu-items group-action" id="groups-details"></button>
                <button class="groups-menu-items group-action" id="groups-history-button"></button>
                <button class="groups-menu-items group-action" id="groups-statistic-button"></button>
                <button class="groups-menu-items group-action" id="groups-create-user"></button>
                <button class="groups-menu-items group-action" id="groups-leave-group"></button>
                <button class="groups-menu-items group-action" id="groups-change-guest-login-button"></button>
                <p id="group-code" class="group-action"></p>
            </div>
        </div>

        <div class="groups-header">
            <span id="settlement"></span>
        </div>
        <div id="add-user" hidden>
            <p id="add-user-info"></p>
        </div>
    </div>

    <div class="content" id="settlement-table-div"></div>

    <div class="content" id="statistic-chart-div">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>

    <div class="content" id="members-table-content" hidden>
        <div id="members-table-div"></div>
    </div>
    <div class="content" id="groups-leave-group-content" hidden>
        <form id="leave-group" method="POST" action="{% url /group/transmit %}">
            <p id="para-leave-group" class="elem-center"></p>
            <div class="elem-center">
                <p id="para-change-admin"></p>
                <select name="new-admin-listbox" id="new-admin-listbox"></select>
                <input id="groupIdLeaveGroup" type="hidden" name="groupId"/>
                <div class="groups-buttons-div">
                    <input id="leave-group-yes" class="red" type="submit">
                </div>
            </div>
        </form>
    </div>
    <div class="content" id="group-join-group-content" hidden>
        <form id="join-popup" method="POST" action="{% url /group/join %}">
            <p id="group-description-groups" class="elem-center"></p>
            <div class="form-group">
                <input id="join-group-code-input" type="text" name="code" required="required"/>
                <label for="input" class="control-label" id="group-description-groups-code"></label>
            </div>
            <input id="group-join-group" type="submit">
        </form>
    </div>
    <div class="content" id="create-popup-content" hidden>
        <form id="create-popup" method="POST" action="{% url /group/create %}">
            <p id="group-create-group" class="elem-center"></p>
            <div class="form-group">
              <input id="group-create-group-input" type="text" name="name" required="required"/>
              <label for="input" class="control-label" id="control-label-create-group-name"></label>
            </div>
            <input id="group-button-create-group" type="submit">
        </form>
    </div>
    <div class="content" id="groups-create-user-content" hidden>
        <form id="create-guest-popup">
            <p id="para-add-new-user" class="elem-center"></p>
            <div class="form-group">
                <input id="guestname" type="text" name="guestname" required="required"/>
                <label for="input" class="control-label" id="control-label-create-new-user"></label>
            </div>
            <input id="groupId" type="hidden" name="groupId"/>
            <input id="create-new-user-btn" class="form-setting-btn" type="button" value="Add user">
        </form>
    </div>
    <div class="content" id="add-new-user-popup-content" hidden>
        <form id="add-new-user-popup" method="POST" action="{% url /group/confirm-request %}">
            <p id="para-confirm-new-user" class="elem-center"></p>
            <div class="elem-center">
                <input id="add-new-user-yes" type="submit">
            </div>
        </form>
    </div>

    <form id="paid-popup" method="POST" action="{% url /payment/paid %}">
        <p id="para-paid-popup" class="elem-center"></p>
        <div class="elem-center">
            <div>
                <div id="paid-popup-full-paid-div">
                    <label class="container">
                        <input type="radio" name="mode-of-payment" value="full">
                        <p class="checkmark"></p>
                        <p id="full-payment"></p>
                    </label>
                </div>
                <div id="paid-popup-instalments-div">
                    <label class="container">
                        <input type="radio" name="mode-of-payment" value="partly">
                        <p class="checkmark"></p>
                        <p id="instalment-payment"></p>
                    </label>
                    <div class="form-group">
                        <input id="amount-of-partly-payment" type="text" name="amount-of-partly-payment" value="">
                        <label for="input" class="control-label" id="control-label-instalment"></label>
                    </div>
                </div>
            </div>
            <input id="paid-popup-yes" type="submit">
            <input id="paid-popup-no" type="button" class="elem-fullwidth">
        </div>
    </form>
    <form id="remove-user-popup" method="POST" action="{% url /group/remove-user %}">
        <p id="para-remove-user" class="elem-center"></p>
        <div class="elem-center">
            <input id="remove-user-yes" type="submit" class="red">
            <input id="remove-user-no" type="button">
        </div>
    </form>
    <div class="content" id="groups-create-bill-div" hidden>
        <h3 id="create-new-bill"></h3>
        <form action="{% url /bill/create %}" method="POST" id="bill-form">
            <div class="form-group">
                <input name="date" id="date-input-field" class="date-input-field" type="date" required="required"/>
            </div>
            <div id="desc-input-field-div" class="form-group">
                <input type="text" id="desc-input-field" name="desc" size="50" required="required"/>
                <div id="desc-input-field-datalist"></div>
                <label for="input" class="control-label" id="control-label-bill-create-subject"></label>
            </div>
            <div class="div-amount-and-calculator">
                <div class="form-group">
                    <input lang="de" name="total" id="amount-input-field" class="amount-input-field" inputmode="decimal" type="text" required="required"/>
                    <label for="input" class="control-label" id="control-label-amount-input-field"></label>
                    <span id="amount-input-field-error"></span>
                </div>
                <div class="div-btn-calculator">
                    <div id="btn-calculator">
                        <img src="{% url /calculator.svg %}" alt=""/>
                    </div>
                </div>
            </div>
            <div id="div-calculator">
                <div id="calculator">
                    <input type="hidden" id="calculator-hidden" name="calculator-hidden">
                    <table id="keyboard">
                        <tr>
                            <td colspan="4" id="output"></td>
                        </tr>
                        <tr>
                            <td colspan="2" ><div data-option="calc-button" data-value="C" class="operator double-width">C</div></td>
                            <td colspan="2" ><div data-option="calc-button" data-value="E" class="operator double-width"><img src="{% url /calculator-key-e.svg %}" alt=""/></div></td>
                        </tr>
        				<tr>
        					<td><div data-option="calc-button" data-value="7" class="number">7</div></td>
                            <td><div data-option="calc-button" data-value="8" class="number">8</div></td>
                            <td><div data-option="calc-button" data-value="9" class="number">9</div></td>
                            <td><div data-option="calc-button" data-value="*" class="operator">&times;</div></td>
        				</tr>
        				<tr>
                            <td><div data-option="calc-button" data-value="4" class="number">4</div></td>
                            <td><div data-option="calc-button" data-value="5" class="number">5</div></td>
                            <td><div data-option="calc-button" data-value="6" class="number">6</div></td>
                            <td><div data-option="calc-button" data-value="/" class="operator">&divide;</div></td>
        				</tr>
        				<tr>
                            <td><div data-option="calc-button" data-value="1" class="number">1</div></td>
                            <td><div data-option="calc-button" data-value="2" class="number">2</div></td>
                            <td><div data-option="calc-button" data-value="3" class="number">3</div></td>
                            <td><div data-option="calc-button" data-value="+" class="operator">+</div></td>
        				</tr>
        				<tr>
                            <td><div id="calc-delimiter" data-option="calc-button" data-value="." class="number">.</div></td>
                            <td><div data-option="calc-button" data-value="0" class="number">0</div></td>
                            <td><div data-option="calc-button" data-value="=" class="operator">=</div></td>
                            <td><div data-option="calc-button" data-value="-" class="operator">-</div></td>
        				</tr>
        			</table>
                    <div class="closing-operation-group">
                        <div class="closing-operation" id="calculator-apply"></div>
                        <div class="closing-operation" id="calculator-cancel"></div>
                    </div>
                </div>
            </div>
            <h3 id="title-who-paid"></h3>
            <select name="paid-by-user-listbox" id="paid-by-user-listbox"></select>
            <h3 id="title-who-has-to-pay"></h3>
            <table id="split-table">
                <thead>
                    <tr><th id="bill-create-name"></th><th>%</th><th id="bill-create-amount"></th></tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <input id="group-id-new-bill" type="hidden" name="groupId"/>
            <div id="split-error"></div>
            <input id="bill-create-button-add-bill" type="submit">
        </form>
    </div>
    <div class="content" id="group-history-content" hidden>
        <div class="form-group">
            <div class="error"></div>
            <input type="text" id="search-payments" required="required"/>
            <label for="input" class="control-label" id="control-label-search-payments"></label>
        </div>
        <div class="content-loading-area" id="content-loading-area" hidden></div>
        <div id="history-div"></div>

        <form id="delete-popup" method="POST" action="{% url /payment/delete-payment %}" hidden>
            <p id="para-delete-payment" class="elem-center"></p>
            <div class="elem-center">
                <input id="delete-payment-yes" type="submit" class="red">
                <input id="delete-payment-no" type="button">
            </div>
        </form>
    </div>

    <div class="content" id="div-group-change-guest-login" hidden>
        <form id="group-change-guest-login">
            <label class="b-contain" class="elem-margin-left-right-auto">
                <input type="checkbox" id="cbx-change-guest-login" name="cbx-change-guest-login">
                <span id="spn-change-guest-login"></span>
                <div class="b-input"></div>
            </label><br><br>
            <p id="para-guest-login-url">
                <span id="span-guest-login-url"></span>
                <span id="btn-copy-guest-login-url">
                    <img id="svg-copy-guest-login-url" src="copy.svg" alt="URL in Zwischenablage kopieren" width="25" height="25">
                </span>
            </p>
            <input id="change-guest-login" class="form-setting-btn" type="button">
        </form>
    </div>

    <div class="content" id="content-settings">
        <div id="settings-account-message">{% =error.message %}</div><br>
        <div id="settings-menu">
                <button class="settings-menu-items" id="settings-back-to-main" hidden></button>
                <button class="settings-menu-items" id="settings-notification"></button>
                <button class="settings-menu-items" id="settings-profile"></button>
                <button class="settings-menu-items" id="settings-password"></button>
                <button class="settings-menu-items" id="settings-delete"></button>
                <button class="settings-menu-items" id="settings-registration" hidden></button>
        </div>

        <div class="content" id="content1" hidden>
            <form id="notification-form">
                <p id="para-notification"></p>
                <label class="b-contain" class="elem-margin-left-right-auto">
                    <input type="checkbox" id="cbx-notification" name="cbx-notification">
                    <span id="spn-notification"></span>
                    <div class="b-input"></div>
                </label><br><br>
                <input id="settings-notification-button" class="form-setting-btn" type="button">
            </form>
        </div>

        <div class="content" id="content2" hidden>
            <form id="details-form">
                <p id="new-name-info" class="txt-warning"></p>
                <div class="form-group">
                    <div class="error">{% =messages.name %}</div>
                    <input type="text" id="settings-new-name" value="{% =user %}" name="name" autocomplete="off" required="required"/>
                    <label for="input" class="control-label" id="control-label-settings-new-name"></label>
                </div>
                <p id="new-email-address-info" class="txt-warning"></p>
                <div class="form-group">
                    <input type="email" id="settings-new-mail-address" value="{% =email %}" name="email" autocomplete="off" required="required"/>
                    <label for="input" class="control-label" id="control-label-settings-new-email"></label>
                </div>
                <input id="settings-update-button" class="form-setting-btn" type="button">
            </form>
        </div>

        <div class="content" id="content3" hidden>
            <form id="password-form">
                <p id="old-password-info" class="txt-warning"></p>
                <div class="form-group">
                    <input type="password" id="settings-old-password" name="oldpass" autocomplete="off" required="required"/>
                    <label for="input" class="control-label" id="control-label-settings-new-oldpass"></label>
                </div>
                <p id="new-password-first-info" class="txt-warning"></p>
                <div class="form-group">
                    <input type="password" id="settings-new-password-first" name="password-first" autocomplete="off" required="required"/>
                    <label for="input" class="control-label" id="control-label-settings-new-password-first"></label>
                </div>
                <p id="new-password-second-info" class="txt-warning"></p>
                <div class="form-group">
                    <input type="password" id="settings-new-password-second" name="password-second" autocomplete="off" required="required"/>
                    <label for="input" class="control-label" id="control-label-settings-new-password-second"></label>
                </div>
                <input id="settings-password-change-button" class="form-setting-btn" type="button" disabled>
            </form>
        </div>

        <div class="content" id="content4" hidden>
            <form id="delete-account-form">
                <p id="delete-account-password-info" class="txt-warning"></p>
                <div class="form-group">
                    <input type="password" id="settings-delete-account-password" name="settings-delete-account-password" autocomplete="off" required="required"/>
                    <label for="input" class="control-label" id="control-label-delete-account-password"></label>
                </div>
                <label class="b-contain" class="elem-margin-left-right-auto">
    				<input type="checkbox" id="yes-i-am-sure" value="yes-i-am-sure" required>
                    <span id="spn-yes-i-am-sure"></span>
                    <div class="b-input"></div>
                </label><br><br>
                <input id="settings-delete-account-button" class="form-setting-btn" type="button" disabled>
            </form>
        </div>

        <div class="content" id="content5" hidden>
            <form id="registration-form">
                <p id="para-registration"></p>
                <label class="b-contain" class="elem-margin-left-right-auto">
                    <input type="checkbox" id="cbx-registration" name="cbx-registration" value="1">
                    <span id="spn-registration"></span>
                    <div class="b-input"></div>
                </label><br><br>
                <input id="settings-registration-button" class="form-setting-btn" type="button">
            </form>
        </div>
    </div>
#}
{% include layout_auth %}
