{# head=
    {% =head|html %}
#}
{# html.navbar=
    <div class="menu-panel">
        <div id="menu-left" class="menu-left">
            <p id="menu-title-groups" class="menu-panel-title menu-panel-title-top"></p>
            <div id="menu-top" class="menu-top">
                <div id="menu-top-groups">
                </div>
                <div>
                    <a id="menu-group-join-group-content" class="menu-item"></a>
                    <a id="menu-create-popup-content" class="menu-item"></a>
                </div>
            </div>
            <p id="menu-title-settings" class="menu-panel-title menu-panel-title-bottom"></p>
            <div id="menu-bottom" class="menu-bottom">
                <a id="menu-settings" class="menu-item"></a>
                <a id="menu-logout" class="menu-item" href="{% url /auth/logout %}"></a>
                <p class="build-number">
                    <span>{% build %}</span>
                </p>
            </div>
        </div>
        <div id="menu-right" class="menu-right"></div>
    </div>
#}

{% include layout_global %}
