<!doctype html>
<html lang="de">
    <head>
        <title>BillSplitter</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="empty">
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="msapplication-TileImage" content="{% url /mstile-144x144.png %}"/>

        <link rel="shortcut icon" href="{% url /favicon.ico %}"/>
		<link rel="icon" type="image/png" href="{% url /favicon.png %}" sizes="32x32"/>
		<link rel="icon" type="image/png" href="{% url /favicon.png %}" sizes="96x96"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{% url /apple-touch-icon.png %}"/>

        <link href="{% url /css/style.min.css?version %}" rel="stylesheet"/>

        <script src="{% url /js/jquery.min.js?version %}"></script>
        <script src="{% url /i18n/lang.js?version %}" defer></script>
        <script src="{% language %}" defer></script>
        <script src="{% url /js/global.min.js?version %}" defer></script>
        {% =head|html %}
    </head>
    <body>
        <header>
            <div class="topbar">
        		<div class="topbar-child">
                    <div id="toggle-button" class="">
        				<div id="toggle-menu-bars">
        					<div class="bar1"></div>
        					<div class="bar2"></div>
        					<div class="bar3"></div>
        				</div>
        			</div>
                    <div id="layout-global-title">
                        <a href="{% url / %}" id="page-title">BillSplitter</a>
                    </div>
        		</div>
        		<div id="toggle-menu">
                    {% =html.navbar|html %}
                    {% =html.navbar_right|html %}
        		</div>
            </div>
        </header>
        <div id="loading" class="elem-show"><div class="lds-dual-ring"></div></div>
        <div id="message-area"></div>
        <div id="body-content">
			<div id="body-content-inside">
				{% =body|html %}
			</div>
        </div>
    </body>
</html>
