{# html.navbar=
    <div class="menu-panel">
        <div id="menu-left" class="menu-left">
            <p id="menu-title-settings" class="menu-panel-title menu-panel-title-bottom"></p>
            <div id="menu-bottom" class="menu-bottom">
                <a id="menu-login" class="menu-item" href="{% url /auth/login %}"></a>
                <a id="menu-signup" class="menu-item {% auth-register %}" href="{% url /auth/register %}"></a>
                <script src="{% url /js/unauth.min.js?version %}"></script>
            </div>
        </div>
        <div id="menu-right" class="menu-right"></div>
    </div>
#}

{% include layout_global %}
